* {
    box-sizing: border-box;
    max-width: 1200px;
    /* margin: auto; */
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;
    font-family: times;
}
h2{
    /* color: #565656; */
    font-weight: normal;
    font-family: times;
    
}
h2,h3{
    margin-bottom: auto;
    margin: auto;
}
p{
    margin-top: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 5px; /* 15px; */
}

[class*="header"]{
    /* margin: auto; */
    float: left;
    padding-left: 5px;
    margin: auto;
}

html {
    font-family:  "Lucida Sans", sans-serif; 
}

.header {
    /* background-color: #0099cc; /\*#9933cc;*\/ */
    /* color: #ffffff; */
    /* color: #565656; */
    /* padding: 15px; */
}

.banner {
    margin: 0px;
    padding: 0  0 0 5px;
    font-size: 12px;
}

.menu ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  /* background-color: #33b5e5; */
  /* color: #ffffff; */
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  box-shadow: 0 1px 3px, 0 1px 2px;
}

.menu li:hover {
  background-color: #0099cc;
}

/* .aside { */
/*   background-color: #33b5e5; */
/*   padding: 15px; */
/*   color: #ffffff; */
/*   text-align: center; */
/*   font-size: 14px; */
/*   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
/* } */

.footer {
  /* background-color: #0099cc; */
  /* color: #ffffff; */
  /* text-align: center; */
  font-size: 12px;
  padding: 5px;
}

/* For desktop: */

.col-3 {
    width: 15%;
    hight: 100%;
    margin-right: 25px;
}
.col-4 {
    width: 50%;
    margin: 0px;
    padding: 0px;
}
/* .col-5 {width: 411.66%;} */
.col-6 {
    width: 80%;
    /* color: #3f3f3f */
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
	width: 100%;
    }
}
